---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import CorePage from "../layouts/CorePage.astro";

import "@fontsource/ibm-plex-sans/700.css";
import "@fontsource/ibm-plex-sans/600.css";
import "@fontsource/ibm-plex-sans/400.css";
import "@fontsource/ibm-plex-sans/300.css";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const content = {
  title: SITE_TITLE,
  description: SITE_DESCRIPTION,
  pageTitle: "Blog",
  pageDescription: "Thoughts and musings about math, programming, and more.",
};
---

<CorePage content={content}>
  <section>
    <ul
      class="list-none space-y-4 md:grid md:grid-cols-3 md:gap-4 md:space-y-0"
    >
      {
        posts.map((post) => (
          <li class="flex">
            <a
              class="font-ibm-plex-sans group block w-full rounded-md border-[1px] border-solid p-4 font-normal transition duration-[150ms] dark:border-slate-300 hover:dark:border-sky-700"
              href={post.url}
            >
              <h2 class="text-xl font-semibold transition dark:text-slate-300 dark:group-hover:text-sky-500">
                {post.frontmatter.title}
              </h2>
              <time
                class="italic transition dark:text-slate-500 dark:group-hover:text-sky-700"
                datetime={post.frontmatter.pubDate}
              >
                {new Date(post.frontmatter.pubDate).toLocaleDateString(
                  "en-us",
                  {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  }
                )}
              </time>
              <div class="mt-2 w-full transition dark:text-slate-300 dark:group-hover:text-sky-500">
                {post.frontmatter.description}
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</CorePage>
