---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 130px;
				font-style: italic;
				color: #888;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body class="dark:bg-slate-900 mx-auto">
		<div class="max-w-screen-lg mx-auto"><Header /></div>
		
		<section class="w-screen bg-blue-700 h-44 font-ibm-plex-sans dark:text-slate-300 font-bold text-5xl">
			<div class="max-w-screen-lg mx-auto h-full"><div class="mx-auto w-full h-full flex items-center px-4">Blog</div></div>
		</section>

		<div class="max-w-screen-lg mx-auto mt-16">
			<main class="px-4">
				<section>
					<ul>
						{posts.map((post) => (
							<li>
								<time datetime={post.frontmatter.pubDate}>
									{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
										year: 'numeric',
										month: 'short',
										day: 'numeric',
									})}
								</time>
								<a href={post.url}>{post.frontmatter.title}</a>
							</li>
						))}
					</ul>
				</section>
				<Footer />
			</main>
		</div>
	</body>
</html>
