---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CorePage from '../layouts/CorePage.astro';

import '@fontsource/ibm-plex-sans/700.css'
import '@fontsource/ibm-plex-sans/600.css'
import '@fontsource/ibm-plex-sans/400.css'
import '@fontsource/ibm-plex-sans/300.css'

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;

/*const postContent = {
	title: title,
	description: description,
	pageTitle: "Blog Post: " + title,
	pageDescription:
}*/
---

<html>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="dark:bg-slate-900 mx-auto">
		<div class="max-w-screen-lg mx-auto"><Header /></div>
		
		<section class="w-full bg-sky-700 h-44 font-ibm-plex-sans">
			<div class="max-w-screen-lg mx-auto h-full">
				<div class="h-full flex justify-center px-4 flex-col">
					<h1 class="font-bold dark:text-slate-300 text-5xl">Blog Post: {title}</h1>
					<p class="font-normal italic text-xl dark:text-slate-400 mt-4">
						{pubDate && <time>Published on {pubDate}</time>}
						{"test" && updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
					</p>
				</div>
			</div>
		</section>

		<div class="max-w-screen-lg mx-auto mt-10">
			<main class="px-4">
				<article>
					<div class="prose lg:prose-lg prose-slate dark:prose-invert max-w-screen-lg prose-a:no-underline hover:prose-a:underline prose-a:text-sky-700 font-ibm-plex-sans font-normal"><slot /></div>
				</article>
				<Footer />
			</main>
		</div>
	</body>
</html>
